FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="foryoutofillout"
PRISMA_SECRET="DONTGIVETHISAWAY"
APP_SECRET="JUSTOURLITTLESECRET"
STRIPE_SECRET="sk_test_51GtoicDlB0VyXWnK9TJt4ONyKo01T9Ae9cQOgAmr7CeCEYC0HssMmKpWRe2j0XHARVbmb2yiNOhO0VWO7WuueFd100DT01smTc"